# ISO Platform — Configuración de Variables de Entorno

# Dialecto de Base de Datos: 'mysql' o 'postgresql'
DB_DIALECT=mysql

# Conexión Base de Datos
DB_USER=root
DB_PASSWORD=secret
DB_HOST=db
DB_PORT=3306
DB_NAME=iso_db

# Configuración del entorno
ENV=production
PORT=8000
