# Base de Datos PostgreSQL local
DATABASE_URL="postgresql://postgres:secret@localhost:5432/iso_p2p?schema=public"

# Token de seguridad compartido para sincronización entre nodos
SYNC_TOKEN="secret-p2p-sync-token-2026"

# Puerto local del servidor (3000 por defecto, 3001 para segundo nodo en pruebas locales)
PORT=3000
